.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

.navbar {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}
    
.navbar a{
    text-decoration: none;
}
    
.navbar li{
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--cor-c11);
    color: var(--cor-c1);
    padding-left: 50px;
    padding-right: 50px;
}
    
.nav-links a {
    color: var(--cor-c1);
}
    
.logo a{
    text-decoration: none;
    color: var(--cor-c1);
}

.logo strong{
    color: var(--cor-p3);
}

    /* LOGO */
.logo {
    font-family: "Poppins", sans-serif;
    font-size: 1.438rem;
    cursor: pointer;
}

.detalhe {
    display: inline;
    color: var(--cor-p3);
}
    
    /* NAVBAR MENU */
.menu {
    display: flex;
    gap: 10px;
    font-size: 1.25rem;
}
    
.menu li:hover {
    border-radius: 0px;
    transition: 0.3s ease;
}
    
.menu li {
    padding: 5px 10px;
}

.menu li > a:hover {
    color: var(--cor-p3);
    transition: 0.3s ease;
}
    
    /* DROPDOWN MENU */
.services {
    position: relative;
    cursor: pointer; 
}
    
.dropdown {
    background-color: var(--cor-c13);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 5px;
    top: 30px;
}
    
.dropdown li + li {
    margin-top: 10px;
}
    
.dropdown li {
    padding: 0.5em 1em;
    width: auto;
    text-align: center;
}
    
.dropdown li:hover {
    background-color: var(--cor-p3);
}

.dropdown li> a:hover {
    color: var(--cor-c1);
}
    
.services:hover .dropdown {
    display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

.nav-checkbox {
    display: none;
} 
    
    /* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 1.5rem;
    user-select: none;
}

.menu-language {
    display: none;
}
    
    /* APPLYING MEDIA QUERIES */
@media (max-width: 844px) {
    .menu {
        display:none;
        position: absolute;
        background-color: var(--cor-c11);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    
    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu li > a:hover {
        display: inline-block;
        color:var(--cor-p3);
        transition: 0.3s ease;
    }
    
    .menu li + li {
        margin-top: 12px;
    }
    
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .dropdown {
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background-color: var(--cor-c11);
    }


    .services{
        display: none;
    }
    
    .menu-language {
        display: block;
    }
    
    .dropdown li:hover {
        background-color: var(--cor-p3);
    }

    .dropdown li > a:hover {
        color: var(--cor-c1);
    }
}