footer {
    background-color: var(--cor-c13);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    color: var(--cor-c1);
}


.footer-content h3{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}