.introduction-bg {
    background-color: var(--cor-c11);
    color: var(--cor-c1);
    height: 90vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
}

.introduction-content{
    margin: auto;
}

.detail{
    display: inline;
    color: var(--cor-p3);
}

.introduction-fs-m {
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    color: var(--cor-p3);
}

.introduction-fs-g {
    font-size: 124px;
    letter-spacing: -6px;
    line-height: 124px;
    font-weight: 500;
}

.introduction-buttons{
    text-align: center;
    margin-top: 40px;
}

.introduction-btn-content{
    display: flex;
    justify-content: center;
}

.introduction-btn { 
    display: flex;
    align-items: center;
    color: var(--cor-c1);
    background-color: var(--cor-c11);
    font-size: 24px;
    padding: 10px 36px;
    border: 2px solid var(--cor-p3);
    border-radius: 5px;
    cursor: pointer;
}

.introduction-btn img{ 
    margin-right: 10px; 
}


.introduction-btn:hover { 
    border: 2px solid var(--cor-c1);
    transition: 0.3s ease;
}

.introduction-icons {
   display: flex;
   justify-content: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

.introduction-icons ul{
    display: flex;
    gap: 30px;
}


.introduction-icons a{
    text-decoration: none;
}

.introduction-icons li{
    list-style: none;
}

.social-icon  {
    opacity: 1; /* Opacidade inicial */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave */
  }

.social-icon:hover {
    opacity: 0.5; /* Opacidade no hover */
  }

@media (max-width: 768px) {

    .introduction-fs-g {
        font-size: 54px;
        letter-spacing: -1px;
        line-height: 62px;
    }

    .introduction-fs-m {
        font-size: 22px;
    }

}