.skills-bg {
    background-color: var(--cor-c13);
    color: var(--cor-c1);
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 50px;
}


.skills-title {
    font: 600 24px/36px 'Poppins', sans-serif;
    color: var(--cor-c6);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
}

.skills-icons li {
    list-style: none;
    background-color: var(--cor-c10);
    margin-right: 15px;
    min-width: 120px;
    min-height: 120px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font: 400 20px/23px 'Roboto', sans-serif;
}

.skills-icons li img {
    width: 46px; 
    height: 46px; 
}

.skills-icons ul {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 768px) {

    .skills-item {
        text-align: center;
    }

    .skills-icons ul {
        justify-content: center;
        align-items: center;
    }

    .skills-icons li {
        margin-bottom: 20px;
        font: 400 16px/20px 'Roboto', sans-serif;
    }

    @media (max-width: 500px) {
  
        .skills-icons li {
            min-width: 100px;
            min-height: 100px;
            font: 400 16px/20px 'Roboto', sans-serif;
        }

        .skills-icons li img {
            width: 36px; 
            height: 36px; 
        }
    }
}